*{
    font-family: Garamond;
}

header #lewy{
    height: 500px;
    width: 25%;
    background-color: lavender;
    float: left;
}

header #prawy{
    height: 150px;
    width: 75%;
    background-color: indigo;
    color: white;
    font-size: 200%;
    text-align: center;
    float: right;
}

main #lewy{
    height: 300px;
    width: 25%;
    background-color: lavender;
    float: left;
}

main #prawy{
    height: 650px;
    width: 75%;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: right;
}

footer{
    background-color: indigo;
    color: white;
    text-align: right;
    clear: both;
}

ul{
    list-style: square;
}

img{
    padding: 5px;
    margin: 10px;
}

img:hover{
    padding: 4px;
    border: solid 1px indigo;
}

